@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

body{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    background-color: #5a189a;
}

header{
    color: white;
    margin: auto;
    background-color: #010241;
    min-height: 150px;
    min-width: 280px;
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
}

header > h1{
    font-family: 'Arima', 'cursive';
    font-size: 50px;
    color: rgb(255, 255, 255);
}

nav{
    background-color: #ac46a1;
    min-width: 280px;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.521);
}

nav > a{
    font-family: 'Arima', 'cursive';
    font-size: 20;
    color: white;
    padding: 20px;
    
}

main{
    min-width: 280px;
    max-width: 2700px;
    background-image: linear-gradient(to bottom, #03045e, #5a189a, #ac46a1, #5a189a, #03045e );
}

/*Descrição video principal*/
#descricao-h1{
    font: 15pt 'Ubuntu', 'sans-serif';
    color: rgb(255, 255, 255);
    padding: 2%;
    margin: 0%;
    text-align: center;
}

/*Video principal*/
#video-principal{
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}

#video-principal > iframe{
    position: absolute;
    margin-left: 14%;
    height: 70%;
    width: 70%;
    border: 3px solid rgb(255, 0, 200);
}

/*recomendados*/
h2{
    position: relative;
    margin-left: 4%;
    font: 20pt 'Ubuntu', 'sans-serif';
    color: rgb(252, 252, 252);
}

.recomendado{
    position: relative;
    margin: 0px -20px 0px -20px;
    padding-bottom: 59%;
}

.recomendado > iframe{
    position: absolute;
    margin-left: 5%;
    height: 60%;
    width: 60%;
    border: 3px solid rgb(255, 0, 200);
}

footer{
    color: white;
    font-family: 'Arima', 'cursive';
    margin: auto;
    background-color: #010241;
    min-height: 75px;
    min-width: 280px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
}
