body{
    margin: 0%;
    width: 100vw;
    height: 100vh;
}

header{
    color: white;
    margin: auto;
    background-color: #010241;
    min-height: 150px;
    min-width: 550px;
    text-align: center;
    padding-top: 40px;
}

nav{
    background-color: #ac46a1;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.521);
}

nav > a{
    color: white;
    padding: 20px;
}

#descricao-p{
    font: 25pt Arial Bold;
    color: white;
    padding: 3%;
    margin: 0%;
    text-align: center;
}

main{
    background-image: linear-gradient(to bottom, #03045e, #5a189a, #ac46a1, #5a189a, #03045e );
}

#video-principal{
    margin: 0px -20px 30px -20px;
    padding-bottom: 59%;
    position: relative;
}

#video-principal > iframe{
    position: absolute;
    left: 14%;
    height: 70%;
    width: 70%;
    border: 3px solid rgb(255, 0, 200);
}

h2{
    position: relative;
    left: 6%;
    font: 20pt Arial bold;
    color: white;
}

.recomendado{
    padding-bottom: 59%;
    position: relative;
    margin: 0px -50px -250px 20px;
}

.recomendado > iframe{
    position: absolute;
    height: 50%;
    width: 50%;
    border: 3px solid rgb(255, 0, 200);
}

footer{
    color: white;
    margin: auto;
    background-color: #010241;
    min-height: 75px;
    min-width: 550px;
    text-align: center;
    padding: 20px;
}
